In [61]:
#Data Analysis and Wrangling
import pandas as pd
import numpy as np

#To split the dataset into train and test datasets
from sklearn.cross_validation import train_test_split
#To model the Gaussian Navie Bayes classifier
from sklearn.naive_bayes import GaussianNB
#To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score
# SVC 
from sklearn.svm import SVC, LinearSVC
#KNN
from sklearn.neighbors import KNeighborsClassifier

In [62]:
data=pd.read_csv("/home/omraj/project/des.csv")
Surr=data
Surr.head(5)

,UniqueKey,STATUS1,OVERALLSTATUS,Latitude,Longitude,GENDER,OCCUPATION,TOTALNUMBEROFHH,TOTALNUMBEROFBEDROOMS,AGE,...,PLOA,PHEADACHE,NODABDPAIN,PLABDPAIN,TYPEOFHOUSEHOLD,TOILET,WATERTREATMENT,USESTREAMWATERFORDRINKINGANDCOOKING,USEWELLWATERFORDRINKINGANDCOOKING,USEBOREWELLFORDRINKINGANDCOOKING
0,1,CASE,CASE,15.592223,74.162292,1,UNEMPLOYED,5,2,35,...,NaN,NaN,NaN,YES,SEMI-PUCCA,YES,BOILING,No,No,Yes
1,2,CONTROL,NEIGHBOUR CONTROL,15.600415,74.170596,1,UNEMPLOYED,6,2,37,...,NaN,NaN,NaN,NaN,PUCCA,YES,FILTERING,Yes,No,No
2,3,CASE,CASE,15.592117,74.162198,1,STUDENT,4,2,18,...,NO,NO,NaN,NO,SEMI-PUCCA,YES,NONE,Yes,No,No
3,4,CASE,CASE,15.592117,74.162198,0,STUDENT,4,2,16,...,NaN,NaN,4.0,NO,SEMI-PUCCA,YES,NONE,Yes,No,No
4,5,CONTROL,NEIGHBOUR CONTROL,15.589461,74.160910,0,UNEMPLOYED,4,3,26,...,NaN,NaN,NaN,NaN,SEMI-PUCCA,YES,NONE,No,Yes,No

In [63]:
#Surr.info()

In [93]:
Surrounding=Surr.drop(['UniqueKey','Latitude','Longitude','STATUS1','AGE','GENDER','DOI','OVERALLSTATUS','OCCUPATION','TOTALNUMBEROFHH','TOTALNUMBEROFBEDROOMS','FEVER','BLOODYDIARRHOEA','NAUSEA','NAUSEA1','PVOMITING','PLOA','PHEADACHE','NODABDPAIN','PLABDPAIN','LOSSOFAPETITE','ABDOMINALPAIN','HEADACHE','FATIGUE','RECOVERYSTATUS','TREATMENTSTATUS','PDIAH','PBDIAH1','PNAUSEA','PVOMITING','PLABDPAIN'],axis=1)
Surrounding.head(5)

,DIARRHOEA,TYPEOFHOUSEHOLD,TOILET,WATERTREATMENT,USESTREAMWATERFORDRINKINGANDCOOKING,USEWELLWATERFORDRINKINGANDCOOKING,USEBOREWELLFORDRINKINGANDCOOKING
0,Yes,SEMI-PUCCA,YES,BOILING,No,No,Yes
1,No,PUCCA,YES,FILTERING,Yes,No,No
2,Yes,SEMI-PUCCA,YES,NONE,Yes,No,No
3,Yes,SEMI-PUCCA,YES,NONE,Yes,No,No
4,No,SEMI-PUCCA,YES,NONE,No,Yes,No

In [94]:
#for Age attribute
Surrounding['DIARRHOEA'].unique()

array(['Yes', 'No'], dtype=object)

In [95]:
cleanup_nums={"No":0,"Yes":1}
Diarrhoea=Surrounding["DIARRHOEA"].map(cleanup_nums)
Diarrhoea.head(5)

0    1
1    0
2    1
3    1
4    0
Name: DIARRHOEA, dtype: int64

In [96]:
#for type of householde attribute
Surrounding['TYPEOFHOUSEHOLD'].unique()

array(['SEMI-PUCCA', 'PUCCA', 'KUTCHA'], dtype=object)

In [97]:
cleanup_nums={'SEMI-PUCCA':0,'PUCCA':1,'KUTCHA':2}
Typeofhousehold=Surrounding['TYPEOFHOUSEHOLD'].map(cleanup_nums)
Typeofhousehold.head(5)

0    0
1    1
2    0
3    0
4    0
Name: TYPEOFHOUSEHOLD, dtype: int64

In [98]:
#for toilet attribute
Surrounding['TOILET'].unique()

array(['YES', 'NO'], dtype=object)

In [99]:
cleanup_nums={'YES':1,'NO':0}
Toilet = Surrounding['TOILET'].map(cleanup_nums)
Toilet.head(10)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    0
8    0
9    0
Name: TOILET, dtype: int64

In [100]:
#for watertreatment attribute
Surrounding['WATERTREATMENT'].unique()

array(['BOILING', 'FILTERING', 'NONE', 'BOTH'], dtype=object)

In [101]:
cleanup_nums={'BOILING':0,'FILTERING':1,'NONE':2,'BOTH':3}
Watertreat=Surrounding['WATERTREATMENT'].map(cleanup_nums)
Watertreat.head(5)

0    0
1    1
2    2
3    2
4    2
Name: WATERTREATMENT, dtype: int64

In [102]:
#for usestreamwaterfordrinkingandcooking attrinute
Surrounding['USESTREAMWATERFORDRINKINGANDCOOKING'].unique()

array(['No', 'Yes'], dtype=object)

In [103]:
cleanup_nums={'No':0,'Yes':1}
Streamwater=Surrounding['USESTREAMWATERFORDRINKINGANDCOOKING'].map(cleanup_nums)
Streamwater.head(5)

0    0
1    1
2    1
3    1
4    0
Name: USESTREAMWATERFORDRINKINGANDCOOKING, dtype: int64

In [104]:
#for usewellwaterfordrinkingcooking attribute
Surrounding['USEWELLWATERFORDRINKINGANDCOOKING'].unique()

array(['No', 'Yes'], dtype=object)

In [105]:
cleanup_nums={'No':0,'Yes':1}
Wellwater=Surrounding['USEWELLWATERFORDRINKINGANDCOOKING'].map(cleanup_nums)
Wellwater.head(5)

0    0
1    0
2    0
3    0
4    1
Name: USEWELLWATERFORDRINKINGANDCOOKING, dtype: int64

In [106]:
#for useborwellfordrinkingandcooking attrinute
Surrounding['USEBOREWELLFORDRINKINGANDCOOKING'].unique()

array(['Yes', 'No'], dtype=object)

In [107]:
cleanup_nums={'Yes':1,'No':0}
Borwellwater=Surrounding['USEBOREWELLFORDRINKINGANDCOOKING'].map(cleanup_nums)
Borwellwater.head(5)

0    1
1    0
2    0
3    0
4    0
Name: USEBOREWELLFORDRINKINGANDCOOKING, dtype: int64

In [108]:
SurroundingData=pd.concat([Typeofhousehold,Toilet,Watertreat,Streamwater,Wellwater,Borwellwater,Diarrhoea],axis=1)

In [109]:
SurroundingData.head()

,TYPEOFHOUSEHOLD,TOILET,WATERTREATMENT,USESTREAMWATERFORDRINKINGANDCOOKING,USEWELLWATERFORDRINKINGANDCOOKING,USEBOREWELLFORDRINKINGANDCOOKING,DIARRHOEA
0,0,1,0,0,0,1,1
1,1,1,1,1,0,0,0
2,0,1,2,1,0,0,1
3,0,1,2,1,0,0,1
4,0,1,2,0,1,0,0

In [110]:
#DATA SLICING
features = SurroundingData.values[:,:6]
target = SurroundingData.values[:,6]
features_train, features_test, target_train, target_test = train_test_split(features,
                                                                            target, test_size = 0.33, random_state = 10)

In [111]:
#KNN
knn = KNeighborsClassifier(n_neighbors =7)
knn.fit(features_train, target_train)
Y_pred = knn.predict(features_test)
acc_knn = round(knn.score(features_train, target_train) * 100, 2)
acc_knn

66.67

In [112]:
#SVM

In [113]:
svc = SVC()
svc.fit(features_train, target_train)
target_pred = svc.predict(features_test)
acc_svc = round(svc.score(features_train, target_train) * 100, 2)
acc_svc

66.67

In [114]:
#Naive Bayes

In [115]:
clf = GaussianNB()
clf.fit(features_train, target_train)
target_pred = clf.predict(features_test)

In [116]:
acc=accuracy_score(target_test, target_pred, normalize = True)
acc=acc*100
acc

66.66666666666666

In [117]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN',  
               'Naive Bayes'],
    'Score': [acc_svc, acc_knn, acc]})
models.sort_values(by='Score', ascending=False)

                     Model      Score
0  Support Vector Machines  66.670000
1                      KNN  66.670000
2              Naive Bayes  66.666667