In [35]:
#Data Analysis and Wrangling
import pandas as pd
import numpy as np

#To split the dataset into train and test datasets
from sklearn.cross_validation import train_test_split
#To model the Gaussian Navie Bayes classifier
from sklearn.naive_bayes import GaussianNB
#To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score
# SVC 
from sklearn.svm import SVC, LinearSVC
#KNN
from sklearn.neighbors import KNeighborsClassifier

In [2]:
data=pd.read_csv("/home/omraj/project/des.csv")
Symp=data
Symp.head(5)

,UniqueKey,STATUS1,OVERALLSTATUS,Latitude,Longitude,GENDER,OCCUPATION,TOTALNUMBEROFHH,TOTALNUMBEROFBEDROOMS,AGE,...,PLOA,PHEADACHE,NODABDPAIN,PLABDPAIN,TYPEOFHOUSEHOLD,TOILET,WATERTREATMENT,USESTREAMWATERFORDRINKINGANDCOOKING,USEWELLWATERFORDRINKINGANDCOOKING,USEBOREWELLFORDRINKINGANDCOOKING
0,1,CASE,CASE,15.592223,74.162292,1,UNEMPLOYED,5,2,35,...,NaN,NaN,NaN,YES,SEMI-PUCCA,YES,BOILING,No,No,Yes
1,2,CONTROL,NEIGHBOUR CONTROL,15.600415,74.170596,1,UNEMPLOYED,6,2,37,...,NaN,NaN,NaN,NaN,PUCCA,YES,FILTERING,Yes,No,No
2,3,CASE,CASE,15.592117,74.162198,1,STUDENT,4,2,18,...,NO,NO,NaN,NO,SEMI-PUCCA,YES,NONE,Yes,No,No
3,4,CASE,CASE,15.592117,74.162198,0,STUDENT,4,2,16,...,NaN,NaN,4.0,NO,SEMI-PUCCA,YES,NONE,Yes,No,No
4,5,CONTROL,NEIGHBOUR CONTROL,15.589461,74.160910,0,UNEMPLOYED,4,3,26,...,NaN,NaN,NaN,NaN,SEMI-PUCCA,YES,NONE,No,Yes,No

Dropping the columns which we do not need

In [3]:
Symptoms=Symp.drop(['GENDER','AGE','USEBOREWELLFORDRINKINGANDCOOKING','USEWELLWATERFORDRINKINGANDCOOKING','PLABDPAIN','USESTREAMWATERFORDRINKINGANDCOOKING','WATERTREATMENT','TOILET','TYPEOFHOUSEHOLD','Longitude','Latitude','UniqueKey','STATUS1','OVERALLSTATUS','OCCUPATION','TOTALNUMBEROFHH','TOTALNUMBEROFBEDROOMS','DOI','NAUSEA1','RECOVERYSTATUS','TREATMENTSTATUS','PDIAH','PBDIAH1','PNAUSEA','PVOMITING','PLOA','PHEADACHE','NODABDPAIN'],axis=1)
Symptoms.head(5)

,FEVER,DIARRHOEA,BLOODYDIARRHOEA,NAUSEA,LOSSOFAPETITE,ABDOMINALPAIN,HEADACHE,FATIGUE
0,No,Yes,No,No,No,Yes,No,No
1,No,No,No,No,No,No,No,No
2,Yes,Yes,No,No,Yes,Yes,Yes,Yes
3,No,Yes,No,No,No,Yes,No,No
4,No,No,No,No,No,No,No,No

Data Preparation By INTEGER ENCODING AND MAPPING CONCEPT

In [4]:
#FOR FEVER ATTRIBUTE
Symptoms['FEVER'].unique()

array(['No', 'Yes'], dtype=object)

In [5]:
cleanup_nums={"No":0,"Yes":1}
Fever = Symptoms["FEVER"].map(cleanup_nums)
Fever.head(10)

0    0
1    0
2    1
3    0
4    0
5    1
6    0
7    1
8    1
9    1
Name: FEVER, dtype: int64

In [6]:
#FOR DIARRHOEA ATTRIBUTE
Symptoms['DIARRHOEA'].unique()

array(['Yes', 'No'], dtype=object)

In [7]:
cleanup_nums={"No":0,"Yes":1}
Diarrhoea=Symptoms["DIARRHOEA"].map(cleanup_nums)
Diarrhoea.head(10)

0    1
1    0
2    1
3    1
4    0
5    1
6    0
7    1
8    1
9    1
Name: DIARRHOEA, dtype: int64

In [8]:
#FOR BLOODYDIARRHOEA ATTRIBUTE
Symptoms['BLOODYDIARRHOEA'].unique()

array(['No', 'Yes'], dtype=object)

In [9]:
cleanup_nums={"No":0,"Yes":1}
BloodyDiarrhoea=Symptoms["BLOODYDIARRHOEA"].map(cleanup_nums)
BloodyDiarrhoea.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    1
Name: BLOODYDIARRHOEA, dtype: int64

In [10]:
#FOR NAUSEA ATTRIBUTE
Symptoms['NAUSEA'].unique()

array(['No', 'Yes'], dtype=object)

In [11]:
cleanup_nums={"No":0,"Yes":1}
Nausea=Symptoms["NAUSEA"].map(cleanup_nums)
Nausea.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: NAUSEA, dtype: int64

In [12]:
#FOR LOSSOFAPETITE ATTRIBUTE
Symptoms['LOSSOFAPETITE'].unique()

array(['No', 'Yes'], dtype=object)

In [13]:
cleanup_nums={"No":0,"Yes":1}
LossOfApetite=Symptoms["LOSSOFAPETITE"].map(cleanup_nums)
LossOfApetite.head(10)

0    0
1    0
2    1
3    0
4    0
5    1
6    0
7    0
8    0
9    0
Name: LOSSOFAPETITE, dtype: int64

In [14]:
#FOR ABDOMINALPAIN ATTRIBUTE
Symptoms['ABDOMINALPAIN'].unique()

array(['Yes', 'No'], dtype=object)

In [15]:
cleanup_nums={"No":0,"Yes":1}
AbdominalPain=Symptoms["ABDOMINALPAIN"].map(cleanup_nums)
AbdominalPain.head(10)

0    1
1    0
2    1
3    1
4    0
5    1
6    0
7    0
8    0
9    1
Name: ABDOMINALPAIN, dtype: int64

In [16]:
#FOR HEADACHE ATTRIBUTE 
Symptoms['HEADACHE'].unique()

array(['No', 'Yes'], dtype=object)

In [17]:
cleanup_nums={"No":0,"Yes":1}
Headache=Symptoms["HEADACHE"].map(cleanup_nums)
Headache.head(10)

0    0
1    0
2    1
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: HEADACHE, dtype: int64

In [18]:
#FOR FATIGUE ATTRIBUTE
Symptoms['FATIGUE'].unique()

array(['No', 'Yes'], dtype=object)

In [19]:
cleanup_nums={"No":0,"Yes":1}
Fatigue=Symptoms["FATIGUE"].map(cleanup_nums)
Fatigue.head(10)

0    0
1    0
2    1
3    0
4    0
5    1
6    0
7    0
8    0
9    0
Name: FATIGUE, dtype: int64

In [20]:
#MAKING A NEW SYMPTOM DATA CSV FILE
SymptomData=pd.concat([Fever,BloodyDiarrhoea,Nausea,LossOfApetite,AbdominalPain,Headache,Fatigue,Diarrhoea],axis=1)

In [21]:
SymptomData.head()

,FEVER,BLOODYDIARRHOEA,NAUSEA,LOSSOFAPETITE,ABDOMINALPAIN,HEADACHE,FATIGUE,DIARRHOEA
0,0,0,0,0,1,0,0,1
1,0,0,0,0,0,0,0,0
2,1,0,0,1,1,1,1,1
3,0,0,0,0,1,0,0,1
4,0,0,0,0,0,0,0,0

In [22]:
#CONVERTING THE DATAFRAME INTO CSV FILE
SymptomData.to_csv("dataSYM.csv")

MODEL AND PREDICT

In [23]:
#GUASSIAN NAIVE BAYES

In [24]:
#DATA SLICING
features = SymptomData.values[:,:7]
target = SymptomData.values[:,7]
features_train, features_test, target_train, target_test = train_test_split(features,
                                                                            target, test_size = 0.33, random_state = 10)

The features_train & target_train consists of training data and the features_test & target_test consists of testing data.

In [25]:
#Gaussian naive bayes implementation

In [26]:
clf = GaussianNB()
clf.fit(features_train, target_train)
target_pred = clf.predict(features_test)

In [27]:
#We have built a GaussianNB classifier.
#The classifier is trained using training data.
#We can use fit() method for training it.
#After building a classifier, our model is ready to make predictions.
#We can use predict() method with test set features as its parameters.

Accuracy of our Gaussian Naive Bayes model

In [28]:
acc=accuracy_score(target_test, target_pred, normalize = True)
acc=acc*100
acc

88.88888888888889

In [29]:
#Our model is giving an accuracy of 88%

In [30]:
#SVM

In [31]:
svc = SVC()
svc.fit(features_train, target_train)
target_pred = svc.predict(features_test)
acc_svc = round(svc.score(features_train, target_train) * 100, 2)
acc_svc

97.22

In [32]:
#KNN
knn = KNeighborsClassifier(n_neighbors =7)
knn.fit(features_train, target_train)
Y_pred = knn.predict(features_test)
acc_knn = round(knn.score(features_train, target_train) * 100, 2)
acc_knn

88.89

In [33]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN',  
               'Naive Bayes'],
    'Score': [acc_svc, acc_knn, acc]})
models.sort_values(by='Score', ascending=False)

                     Model      Score
0  Support Vector Machines  97.220000
1                      KNN  88.890000
2              Naive Bayes  88.888889